<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header class="header">
  <div class="logo">
    <p><b>게시판</b></p>
  </div>

  <div th:if="${userid != null}" class="userid_header">
    <span>[[${userid}]]님 환영합니다!</span>
  </div>

  <nav>
    <div class="nav">
      <a href="/home">홈</a>
      <a href="">게시판</a>
      <a href="">책보러가기</a>
      <a href="board_upload">글쓰러가기</a>

    </div>
  </nav>

  <div class="search-container">
    <div class="icon">
      <i class="fas fa-search" style="color: white;"></i> <!-- 흰색 아이콘 -->
      <div class="search-box">
        <form action="/search" method="get">
          <input type="text" name="keyword" placeholder="Search..." required>
        </form>
      </div>
    </div>
  </div>

  <div class="auth">
    <span th:if="${userid == null}">
        <a href="/login">로그인</a> | <a href="/join">회원가입</a>
    </span>
    <span th:if="${userid != null }">
        <a href="/logout">로그아웃</a>
    </span>
  </div>

</header>
</body>
</html>
