<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>카테고리 추가</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>
<body>
<div th:replace="hnf/header :: header"></div>
<div th:replace="hnf/nav :: nav"></div>
<div class="category_add_form" >

  <form method="post" action="/categories/add">
    <table style="margin-left:auto;margin-right:auto;">
      <tr>
        <td><label for="categoryName">카테고리 이름</label></td>
        <td><input type="text" id="categoryName" name="categoryName" th:value="${categoryDTO.categoryName}" required></td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="추가">
        </td>
      </tr>
    </table>
  </form>
  <div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}"></p>
  </div>
</div>
<div th:replace="hnf/footer :: footer"></div>
</body>
</html>
