<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div th:replace="hnf/header :: header"></div>
<div th:replace="hnf/aside :: aside"></div>
<div class="board_upload">
  <h2>책사모 게시글</h2>
  <form action="" method="get">
    <table>
      <tr>
        <td>제목</td>
        <td><input type="text" name="" id=""></td>
      </tr>
      <tr>
        <td>아이디</td> <!--아이디 끌어서 오기-->
        <td><input type="text" name="" id=""></td>
      </tr>
      <tr>
        <td>내용</td>
        <td><textarea name="" cols="60" rows="30"></textarea></td>
      </tr>
    </table>
    <button>등록</button>
  </form>
</div>
<div th:replace="hnf/footer :: footer"></div>

</body>
</html>