<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div th:replace="hnf/header :: header"></div>
<div th:replace="hnf/nav :: nav"></div>
<section>
  <div class="home">
  <br>
  <div class="new">
    <div class="new-label" >신작</div>
    <div th:each="book : ${recentBooks}" class="book-item" th:id="'ch' + ${book.bookId}">
      <a th:href="@{'/book_detail?bookId=' + ${book.bookId}}">
        <img th:src="@{'/uploads/' + ${book.obookFile}}" th:alt="${book.bookTitle}" class="book-image" >
        <h3 th:text="${book.bookTitle}" class="book-title"></h3>
        <p th:text="${book.bookAuthor}"></p> <!-- 책 저자 표시 -->
      </a>
    </div>
  </div>


  <!-- TabBox와 Bookmark를 감싸는 새로운 컨테이너 -->
  <div class="home_div2">
    <div class="tabBox">
      <div class="ctn ctn1">
        <h3><a href="#none" class="tab-link" data-tab="1">로맨스</a></h3>
        <div class="box">
          <div th:each="book : ${recentRomanceBooks}" class="book-item" th:id="'ch' + ${book.bookId}">
            <a th:href="@{'/book_detail?bookId=' + ${book.bookId}}">
              <img th:src="@{'/uploads/' + ${book.obookFile}}" th:alt="${book.bookTitle}" class="book-image" >
            </a>
          </div>
        </div>
      </div>

      <div class="ctn ctn2">
        <h3><a href="#none" class="tab-link" data-tab="2">추리</a></h3>
        <div class="box">
          <div th:each="book : ${getRecentMistaryBooks}" class="book-item" th:id="'ch' + ${book.bookId}">
            <a th:href="@{'/book_detail?bookId=' + ${book.bookId}}">
              <img th:src="@{'/uploads/' + ${book.obookFile}}" th:alt="${book.bookTitle}" class="book-image" >
            </a>
          </div>
        </div>
      </div>

      <div class="ctn ctn3">
        <h3><a href="#none" class="tab-link" data-tab="3">판타지</a></h3>
        <div class="box">
          <div th:each="book : ${getRecentFantasyBooks}" class="book-item" th:id="'ch' + ${book.bookId}">
            <a th:href="@{'/book_detail?bookId=' + ${book.bookId}}">
              <img th:src="@{'/uploads/' + ${book.obookFile}}" th:alt="${book.bookTitle}" class="book-image" >
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bookmark 섹션 -->
    <div class="bookmark">
      <div class="bookmark-label">독자PICK 1위</div>

      <!-- 북마크가 가장 많이 된 책이 있을 때 -->
      <div th:if="${topBook}" class="top-book-item">
        <a th:href="@{'/book_detail?bookId=' + ${topBook.bookId}}">
          <img th:src="@{'/uploads/' + ${topBook.obookFile}}" th:alt="${topBook.bookTitle}" class="book-image" style="width:200px; height:300px" >
          <h4 th:text="${topBook.bookTitle}"></h4>
        </a>
      </div>

      <!-- 책이 없을 때 -->
      <div th:if="${topBook == null}">북마크가 없습니다.</div>
    </div>
  </div>
  </div>

</section>

<div th:replace="hnf/footer :: footer"></div>

</body>
<!-- jQuery 라이브러리 추가 -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(function(){
      init();
  });

  function init() {
      $(".tabBox>div").eq(0).addClass("ctnOn"); // 처음에 첫 번째 탭이 열려있도록 설정
      $(".tabBox h3 a").on("click focus", function(){
          var tabIndex = $(this).data("tab"); // 클릭된 탭의 인덱스를 가져옴

          $(".tabBox>div").removeClass("ctnOn"); // 모든 탭 내용 숨기기
          $(".tabBox .ctn" + tabIndex).addClass("ctnOn"); // 해당 탭 내용 보여주기
      });
  }
</script>
</html>
